In [1]:
import os
import pandas as pd
import re

# Load The Data

## Eye Tracking Data

In [2]:
# Set the directory path where the CSV files are located
directory_path = '../data/raw/eyetracking'

# Create an empty list to store dataframes
dataframes = []

# Define a regular expression to extract name, date, category, and random number from filenames
filename_pattern = re.compile(r'(?P<name>[\w\-]+)-(?P<date>\d{4}-\d{2}-\d{2})_(?P<category>\w+)_(?P<random_number>\d+)\.csv')

# Iterate through each file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.csv'):
        # Match the pattern to extract metadata from the filename
        match = filename_pattern.match(filename)
        if match:
            # Extract the components from the filename
            name = match.group('name')
            date = match.group('date')
            category = match.group('category')
            random_number = match.group('random_number')
            
            # Load the CSV file into a dataframe
            file_path = os.path.join(directory_path, filename)
            df = pd.read_csv(file_path)
            
            # Add the extracted components as constant columns
            df['name'] = name
            df['date'] = date
            df['category'] = category
            df['id'] = random_number
            df['path_name'] = filename.replace('.csv', '')
            
            # Append the dataframe to the list
            dataframes.append(df)

# Concatenate all dataframes into one
df_eyetracking = pd.concat(dataframes, ignore_index=True)

In [3]:
df_eyetracking.head()

,Timestamp,MovingTarget_X,MovingTarget_Y,EyeTracker_X,EyeTracker_Y,name,date,category,id,path_name
0,172843326579763,1016.090081,401.723052,1021.805280,395.415000,ar,2024-10-09,SP,1728433242,ar-2024-10-09_SP_1728433242
1,172843326671260,1019.829718,439.893571,1024.466342,406.894995,ar,2024-10-09,SP,1728433242,ar-2024-10-09_SP_1728433242
2,172843326675478,1019.882231,441.594809,1025.091014,410.885316,ar,2024-10-09,SP,1728433242,ar-2024-10-09_SP_1728433242
3,172843326679578,1019.924879,443.286799,1025.208144,412.747227,ar,2024-10-09,SP,1728433242,ar-2024-10-09_SP_1728433242
4,172843326683727,1019.957807,444.968713,1025.414424,414.661788,ar,2024-10-09,SP,1728433242,ar-2024-10-09_SP_1728433242

Split SP and SEM data

In [4]:
df_eyetracking_sp = df_eyetracking[df_eyetracking['category']=='SP']

df_eyetracking_sem = df_eyetracking[df_eyetracking['category']=='SEM']

## Heartrate Data

In [5]:
df_heartrate = pd.read_csv('../data/raw/heartrate/00_HR-data.csv')

df_heartrate.head()

,SP_result,SEM_result,HR_before,HR_after,perc_O2
0,ar-2024-10-09_SP_1728433242,ar-2024-10-09_SEM_1728433242,72,120.0,94.0
1,han-2024-10-09_SP_1728433863,han-2024-10-09_SEM_1728433863,83,140.0,94.0
2,ar-2024-10-10_SP_1728533147,ar-2024-10-10_SEM_1728533147,84,134.0,93.0
3,han-2024-10-10_SP_1728534050,han-2024-10-10_SEM_1728534050,86,141.0,96.0
4,ar-2024-10-12_SP_1728718590,ar-2024-10-12_SEM_1728718590,94,146.0,96.0

Extract the data from id

In [6]:
# # Define a regular expression to extract name, date, category, and random number
# pattern = re.compile(r'(?P<name>[\w\-]+)-(?P<date>\d{4}-\d{2}-\d{2})_(?P<category>\w+)_(?P<random_number>\d+)')

# # Use str.extract with the regex pattern to create new columns
# df_heartrate[['name', 'date', 'category', 'random_number']] = df['SP_result'].str.extract(pattern)

# Merge both data into one dataframe

In [7]:
df_eyetracking_sp = pd.merge(df_eyetracking_sp,df_heartrate, left_on='path_name', right_on='SP_result', how='left')

df_eyetracking_sem = pd.merge(df_eyetracking_sem,df_heartrate, left_on='path_name', right_on='SEM_result', how='left')

In [8]:
df_eyetracking_sp.head()

,Timestamp,MovingTarget_X,MovingTarget_Y,EyeTracker_X,EyeTracker_Y,name,date,category,id,path_name,SP_result,SEM_result,HR_before,HR_after,perc_O2
0,172843326579763,1016.090081,401.723052,1021.805280,395.415000,ar,2024-10-09,SP,1728433242,ar-2024-10-09_SP_1728433242,ar-2024-10-09_SP_1728433242,ar-2024-10-09_SEM_1728433242,72,120.0,94.0
1,172843326671260,1019.829718,439.893571,1024.466342,406.894995,ar,2024-10-09,SP,1728433242,ar-2024-10-09_SP_1728433242,ar-2024-10-09_SP_1728433242,ar-2024-10-09_SEM_1728433242,72,120.0,94.0
2,172843326675478,1019.882231,441.594809,1025.091014,410.885316,ar,2024-10-09,SP,1728433242,ar-2024-10-09_SP_1728433242,ar-2024-10-09_SP_1728433242,ar-2024-10-09_SEM_1728433242,72,120.0,94.0
3,172843326679578,1019.924879,443.286799,1025.208144,412.747227,ar,2024-10-09,SP,1728433242,ar-2024-10-09_SP_1728433242,ar-2024-10-09_SP_1728433242,ar-2024-10-09_SEM_1728433242,72,120.0,94.0
4,172843326683727,1019.957807,444.968713,1025.414424,414.661788,ar,2024-10-09,SP,1728433242,ar-2024-10-09_SP_1728433242,ar-2024-10-09_SP_1728433242,ar-2024-10-09_SEM_1728433242,72,120.0,94.0

In [9]:
df_eyetracking_sem.head()

,Timestamp,MovingTarget_X,MovingTarget_Y,EyeTracker_X,EyeTracker_Y,name,date,category,id,path_name,SP_result,SEM_result,HR_before,HR_after,perc_O2
0,172879258419721,759.125644,747.437698,773.858448,745.062750,ar,2024-10-13,SEM,1728792490,ar-2024-10-13_SEM_1728792490,ar-2024-10-13_SP_1728792490,ar-2024-10-13_SEM_1728792490,83,132.0,94.0
1,172879258423791,755.718566,747.866051,770.188118,741.756150,ar,2024-10-13,SEM,1728792490,ar-2024-10-13_SEM_1728792490,ar-2024-10-13_SP_1728792490,ar-2024-10-13_SEM_1728792490,83,132.0,94.0
2,172879258427892,752.249179,748.261614,768.155990,742.410810,ar,2024-10-13,SEM,1728792490,ar-2024-10-13_SEM_1728792490,ar-2024-10-13_SP_1728792490,ar-2024-10-13_SEM_1728792490,83,132.0,94.0
3,172879258432090,748.719308,748.622172,766.518264,741.642480,ar,2024-10-13,SEM,1728792490,ar-2024-10-13_SEM_1728792490,ar-2024-10-13_SP_1728792490,ar-2024-10-13_SEM_1728792490,83,132.0,94.0
4,172879258436265,745.130872,748.945546,762.474010,741.715605,ar,2024-10-13,SEM,1728792490,ar-2024-10-13_SEM_1728792490,ar-2024-10-13_SP_1728792490,ar-2024-10-13_SEM_1728792490,83,132.0,94.0

## Drop Unnecesarry Feature

In [10]:
df_eyetracking_sp = df_eyetracking_sp.drop(['path_name','SP_result','SEM_result'], axis =1)
df_eyetracking_sem = df_eyetracking_sem.drop(['path_name','SP_result','SEM_result'], axis =1)

## Save dataframe into csv

In [11]:
df_eyetracking_sp.to_csv('../data/interim/data_sp.csv', index=False)
df_eyetracking_sem.to_csv('../data/interim/data_sem.csv', index=False)